<form [formGroup]="questionerForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput id="nome" />
        <mat-error *ngIf="questionerForm.get('nome')?.hasError('required')">
          Ma come ti chiami?
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Anno</mat-label>
        <mat-select formControlName="anno">
          <mat-option *ngFor="let anno of listaAnni" [value]="anno">
            {{ anno }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="questionerForm.get('anno')?.hasError('required')">
          Ma quando sei nato?
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Lavoro</mat-label>
        <input formControlName="lavoro" matInput id="lavoro" />
        <mat-error *ngIf="questionerForm.get('lavoro')?.hasError('required')">
          Ma che lavoro fai?
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Cod Fiscale</mat-label>
        <input formControlName="codFis" matInput id="codFis" />
        <mat-error *ngIf="questionerForm.get('codFis')?.hasError('required')">
          Ma il tuo codice Fiscale?
        </mat-error>
        <mat-error *ngIf="questionerForm.get('codFis')?.hasError('minlength')">
          vedi che hai sbagliato dovrebbe essere lungo
          {{
              questionerForm.get("codFis")?.errors?.['minlength'].requiredLength
          }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput id="email" />
        <mat-error *ngIf="questionerForm.get('email')?.hasError('email')">
          hai sbagliato email
        </mat-error>
        <mat-error *ngIf="questionerForm.get('email')?.hasError('email')">
          {{ questionerForm.get("email")?.errors?.['email'].descrizione }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    style="margin-top: 100px"
    [disabled]="questionerForm.invalid"
    (click)="questionerForm.valid && submit()"
  >
    INVIA
  </button>
  <h3 *ngIf="risultato">{{ risultato }}</h3>
</form>
