<form [formGroup]="questionerForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput id="nome" />
        <mat-error *ngIf="questionerForm.get('nome')?.hasError('required')">
          Ma come ti chiami?
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Anno</mat-label>
        <mat-select formControlName="anno">
          <mat-option *ngFor="let anno of listaAnni" [value]="anno">
            {{ anno }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="questionerForm.get('anno')?.hasError('required')">
          Ma quando sei nato?
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Lavoro</mat-label>
        <input formControlName="lavoro" matInput id="lavoro" />
        <mat-error *ngIf="questionerForm.get('lavoro')?.hasError('required')">
          Ma che lavoro fai?
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="console.log(questionerForm); questionerForm.valid ?? submit()"
  >
    INVIA
  </button>
</form>
