.all{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.menu{
    background-color: white;
    height: 100%;
    width: 30vw;
}
.app{
    width: 100%;
    padding: 30px 40px;
    background-color: beige;
}

.navigate{
    padding: 10px 40px;
    border: 1px solid red;
}