<h1>
  In questa pagina puoi chiamare l'API per <strong>Ricerca Documenti</strong>
</h1>

<form [formGroup]="interaForm" (ngSubmit)="callApi()">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <input matInput id="tipo" formControlName="tipo" />
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Anno</mat-label>
        <mat-select formControlName="anno">
          <mat-option *ngFor="let anno of listaAnni" [value]="anno">
            {{ anno }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="interaForm.get('anno')?.hasError('required')">
          Metti un anno grazie
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Progressivo</mat-label>
        <input
          matInput
          id="progressivo"
          name="progressivo"
          formControlName="progressivo"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Data Protocollazione (dal)</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>Data Protocollazione (al)</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataAl" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="rowButton">
    <button
      [disabled]="interaForm.invalid"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Chiama API
    </button>
    <button
      [disabled]="interaForm.pristine"
      mat-raised-button
      (click)="interaForm.reset()"
    >
      RESET
    </button>
  </div>
</form>

<div *ngIf="lista && lista.length">
  la sista si vede
  <ul>
    <li class="" *ngFor="let c of lista">
      {{ c.testoOggetto }}
      {{ c.protocolloInput.tipo }}
      {{ c.protocolloInput.anno }}
      {{ c.protocolloInput.progressivo }}
    </li>
  </ul>
</div>
